body{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#yin-yang {
    width: 192px;
    box-sizing: content-box;
    height: 96px;
    background: #eee;
    border-color: black;
    border-style: solid;
    border-width: 4px 4px 100px 4px;
    border-radius: 100%;
    position: relative;
    animation:roll 3s infinite;
    animation-timing-function: linear;

}

#yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 36px solid black;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
}

#yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border: 36px solid #eee;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
}

@keyframes roll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
